# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# more stuff
*.obj
*.iobj
*.pdb
*.ipdb
*.ilk
*.log
*.tlog
*.idb
*.lastbuildstate
*.user
*.cache
*.ipch

patcher/obj/*
.vs/*
deps/*/*
x64/*
Debug/*
Release/*
binedit/x64/*
binedit/Debug/*
binedit/Release/*
diffgen/x64/*
diffgen/Debug/*
diffgen/Release/*
